.letter{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin-right: 5px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 24px;
}

.green{
    background-color: green;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.gray{
    background-color: gray;
    color: white;
}